@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
  font-family: 'Noto Sans JP', sans-serif;
}
h1 h2 h3 h4 h5{
  font-family: 'Noto Sans JP', sans-serif;
}
.list ul li .title {
  font-family: 'Noto Sans JP', sans-serif;
}

.avatar {
  border-radius: 50%;
}

.icon-qiita:before {
  content: "";
  background-image: url("/images/social/qiita.png");
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: cover;
  vertical-align: middle;
}

.icon-sd:before {
  content: "";
  background-image: url("/images/social/speaker-deck.svg");
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: cover;
  vertical-align: middle;
}